* {
  font-family: 'PT serif', 'Georgia', serif;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  color: #333;
  font-size: 1.1em;
}

header {
  padding: 20px;
  border-bottom: 1px solid #111;
}

header > p {
  font-style: italic;
}

main {
  padding-top: 40px;
}

.posts {
  max-width: 700px;
  margin: 0 auto;
}

article {
  background: floralwhite;
  padding: 15px;
  border: 1px solid #ccc;
  line-height: 1.5em;
  margin-bottom: 40px;
}

article h4 {
  margin: 15px 0 0 0;
}

time {
  font-style: italic;
  color: #666;
}
